# ignore all files
*

# except our plugins':

!mod/kalvidassign/**/*
!mod/kalvidres/**/*

!filter/kaltura/**/*

!local/kaltura/**/*
!local/kalturamediagallery/**/*
!local/mymedia/**/*

!lib/editor/tinymce/plugins/kalturamedia/**/*
!lib/editor/tiny/plugins/kalturamedia/**/*

!createPackage.sh
!incrementVersion.sh